#pc-wrap {
  .home-page {
    position: relative;
    width: 100%;
    height: auto;
    .company {
      position: relative;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 32px;
      padding: 48px 122px 48px 124px;
      flex: none;
      order: 1;
      flex-grow: 1;
      margin: 0px 0px;
      background: rgb(255, 255, 255);
      .container {
        .company-name {
          position: relative;
          width: auto;
          height: 29px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 32;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 32px 0px;
          opacity: 0.5;
          span {
            color: rgb(32, 36, 48);
            font-family: $font-body;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
          }
        }
        .company-logo {
          position: relative;
          width: auto;
          height: 40px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          margin: 32px 0px;
          .logo {
            opacity: 0.5;
          }
        }
      }
    }
    .category {
      position: relative;
      width: auto;
      height: 562px;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 0px 0px;
      background: rgb(255, 255, 255);
      .container {
        flex-direction: column;
        .category-title {
          position: relative;
          width: 100%;
          height: 53px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0px;
          .category-txt {
            margin-left: 10px;
            color: rgb(38, 164, 255);
          }
          span {
            position: relative;
            width: auto;
            height: 53px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 10;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            font-family: $font-heading;
            font-size: 48px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: left;
          }
          .show-all {
            position: relative;
            width: auto;
            height: 26px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 0;
            cursor: pointer;
            span {
              margin-bottom: 22px;
              margin-right: 15px;
              color: rgb(70, 64, 222);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: center;
              transition: color 0.3s ease;
            }
            img {
              margin-top: 5px;
              transition: filter 0.3s ease;
            }
            &:hover {
              span {
                color: rgb(38, 164, 255);
              }
              img {
                filter: brightness(0) saturate(100%) invert(42%) sepia(73%)
                  saturate(750%) hue-rotate(176deg) brightness(103%)
                  contrast(101%);
              }
            }
          }
        }
        .category-card {
          margin-top: 48px;
          width: auto;
          height: auto;
          display: flex;
          .category-frame {
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            justify-content: space-between;
            .category-box {
              position: relative;
              width: 312px;
              height: 214px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 24px;
              padding: 32px;
              border: 1px solid rgb(214, 221, 235);
              background: rgb(255, 255, 255);
              box-sizing: border-box;
              transition: background 0.3s ease;
              border-radius: 20px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
              transition: all 0.3s ease;
              overflow: hidden;
              &:hover {
                background: url("/img/service-img/white.avif");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                &:hover {
                  transform: scale(1.05);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                }
              }
              .box-icon {
                width: 60.66px;
                height: 60.66px;
              }
              .text-top {
                font-family: $font-heading;
                font-size: 24px;
                font-weight: 600;
                line-height: 120%;
                color: rgb(37, 50, 75);
                transition: color 0.3s ease;
              }
              .text-center {
                display: flex;
                align-items: center;
                gap: 16px;
                font-family: $font-body;
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: rgb(124, 132, 147);
                cursor: pointer;
                transition: color 0.3s ease;
                img {
                  width: 20.05px;
                  height: 30px;
                  opacity: 0.5;
                  transition: filter 0.3s ease;
                }
                &:hover {
                  color: rgb(38, 164, 255);
                  img {
                    filter: brightness(0) saturate(100%) invert(42%) sepia(73%)
                      saturate(750%) hue-rotate(176deg) brightness(103%)
                      contrast(101%);
                  }
                }
              }
            }
          }
        }
        .pagination {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 53px;
        }
      }
    }
    .afisha {
      position: relative;
      width: 100%;
      height: 558px;
      flex: none;
      order: 3;
      flex-grow: 0;
      margin: 0px 0px;
      background: rgb(255, 255, 255);
      .container {
        .afisha-frame {
          margin-top: 72px;
          position: relative;
          width: auto;
          height: 414px;
          background: url("/img/banner/afisha.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          .afisha-title {
            display: flex;
            flex-direction: column;
            margin: 70px 93px;
            .bold-text {
              position: relative;
              width: 364px;
              height: 106px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              gap: 24;
              padding: 0px;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 24px 0px;
              color: rgb(255, 255, 255);
              font-family: $font-heading;
              font-size: 48px;
              font-weight: 600;
              line-height: 110%;
              letter-spacing: 0%;
              text-align: left;
            }
            .title-center {
              position: relative;
              width: 364px;
              height: 26px;
              display: flex;
              flex-direction: column;
              gap: 24;
              padding: 0px;
              flex: none;
              order: 1;
              flex-grow: 0;
              color: rgb(255, 255, 255);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 500;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
            .button {
              position: relative;
              width: 188px;
              height: 50px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10;
              padding: 12px 24px 12px 24px;
              flex: none;
              order: 2;
              flex-grow: 0;
              margin: 24px 0px;
              background: rgb(255, 255, 255);
              color: rgb(70, 64, 222);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 700;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: center;
              &:hover {
                color: rgb(255, 255, 255);
                background-color: rgb(38, 164, 255);
              }
            }
            img {
              position: absolute;
              width: 564px;
              height: 344px;
              left: 650px;
            }
          }
        }
      }
    }
    .featured-job-post {
      position: relative;
      width: 100%;
      height: 888px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 48;
      flex: none;
      order: 4;
      flex-grow: 0;
      margin: 0px 0px;
      background: rgb(255, 255, 255);
      .container {
        .featured-title {
          position: relative;
          width: 100%;
          height: 53px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0px;
          .featured-txt {
            margin-left: 10px;
            color: rgb(38, 164, 255);
          }
          span {
            position: relative;
            width: auto;
            height: 53px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 10;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            font-family: $font-heading;
            font-size: 48px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: left;
          }
          .show-all {
            position: relative;
            width: auto;
            height: 26px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 0;
            cursor: pointer;
            span {
              margin-bottom: 22px;
              margin-right: 15px;
              color: rgb(70, 64, 222);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: center;
              transition: color 0.3s ease;
            }
            img {
              margin-top: 5px;
              transition: filter 0.3s ease;
            }
            &:hover {
              span {
                color: rgb(38, 164, 255);
              }
              img {
                filter: brightness(0) saturate(100%) invert(42%) sepia(73%)
                  saturate(750%) hue-rotate(176deg) brightness(103%)
                  contrast(101%);
              }
            }
          }
        }
        .featured-card {
          position: relative;
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 32px;
          padding: 0px;
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 48px 0px;
          .empty-list {
            width: 100%;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .featured-frame {
            position: relative;
            width: auto;
            height: 606px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 32;
            padding: 0px;
            flex: none;
            order: 1;
            flex-grow: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .featured-box {
              position: relative;
              width: 318px;
              height: 283px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 16;
              padding: 24px;
              flex: none;
              order: 0;
              box-sizing: border-box;
              border: 1px solid rgb(214, 221, 235);
              background: rgb(255, 255, 255);
              border-radius: 20px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
              transition: all 0.3s ease;
              overflow: hidden;
              &:hover {
                background: rgb(248, 248, 253);
                transform: scale(1.01);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              }
              .top-info {
                position: relative;
                width: auto;
                height: 48px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0px;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
                .info-button {
                  margin: -8px -24px;
                  position: relative;
                  width: auto;
                  height: 28px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8;
                  padding: 4px 12px 4px 12px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                  margin: 0px 10px;
                  box-sizing: border-box;
                  border: 1px solid rgb(70, 64, 222);
                  color: rgb(70, 64, 222);
                  font-family: $font-body;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: center;
                  border-radius: 20px;
                  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
                  transition: all 0.3s ease;
                  overflow: hidden;
                  &:hover {
                    background: rgb(248, 248, 253);
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                  }
                }
              }
              .box-title {
                position: relative;
                width: 184px;
                height: 57px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2;
                padding: 0px;
                flex: none;
                order: 1;
                flex-grow: 0;
                .p-type {
                  position: relative;
                  width: auto;
                  height: 29px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 2;
                  padding: 0px;
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                  margin: 10px 0px;
                  color: rgb(37, 50, 75);
                  font-family: $font-body;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                }
                .title-location {
                  position: relative;
                  width: auto;
                  height: 26px;
                  gap: 11px;
                  padding: 0px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                  margin: 2px 0px;
                  color: rgb(81, 91, 111);
                  font-family: $font-body;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                }
                .desc {
                  margin-top: 7px;
                  position: relative;
                  width: 232px;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 16;
                  flex: none;
                  order: 2;
                  flex-grow: 0;
                  color: rgb(124, 132, 147);
                  font-family: $font-heading;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                }
              }
              .button {
                position: relative;
                width: auto;
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8;
                flex: none;
                order: 3;
                flex-grow: 0;
                margin-top: 100px;
                padding: 4px 16px 4px 0;

                .level {
                  position: relative;
                  width: auto;
                  height: 30px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8;
                  padding: 4px 16px 4px 16px;
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                  margin: 0px 8px;
                  border-radius: 80px;
                  background: rgba(235, 133, 51, 0.1);
                  color: rgb(255, 184, 54);
                  font-family: $font-body;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                  &:hover {
                    color: white;
                    background: #ffb836;
                    transform: scale(1.05);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                  }
                }
                .view-like {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 6px;
                  .statItem {
                    width: auto;
                    height: 29px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    padding: 4px 10px;
                    border: 1px solid #dedede;
                    border-radius: 24px;
                    color: #ccc;
                    background: rgba(255, 255, 255, 0.05);
                    font-size: 14px;
                    p {
                      color: #181a20;
                      text-align: right;
                      font-family: $font-heading;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                      letter-spacing: 0.52px;
                      text-transform: capitalize;
                    }
                    .icon {
                      font-size: 23px;
                      transition: all 0.3s ease;
                      cursor: pointer;
                      &:hover {
                        border-color: #888;
                        background: rgba(255, 255, 255, 0.1);
                      }
                    }
                  }
                  .statItem1 {
                    width: auto;
                    height: 29px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    padding: 4px 10px;
                    border: 1px solid #dedede;
                    border-radius: 24px;
                    color: #ccc;
                    background: rgba(255, 255, 255, 0.05);
                    font-size: 14px;
                    p {
                      color: #181a20;
                      text-align: right;
                      font-family: $font-heading;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                      letter-spacing: 0.52px;
                      text-transform: capitalize;
                    }
                    .icon {
                      font-size: 23px;
                      transition: all 0.3s ease;
                      color: #616161;
                      &:hover {
                        border-color: #888;
                        background: rgba(255, 255, 255, 0.1);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .pagination {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          order: 1;
        }
      }
    }
    .latest {
      position: relative;
      width: auto;
      height: 1100px;
      left: 0;
      margin-top: 0;
      background: url("/img/banner/BG.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      order: 4;
      overflow: hidden;
      .container {
        .latest-title {
          margin-top: 72px;
          position: relative;
          width: 100%;
          height: 53px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          padding: 0px;
          .latest-txt {
            margin-left: 10px;
            color: rgb(38, 164, 255);
          }
          span {
            position: relative;
            width: auto;
            height: 53px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 10;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            font-family: $font-heading;
            font-size: 48px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: left;
          }
          .show-all {
            position: relative;
            width: auto;
            height: 26px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            flex: none;
            order: 0;
            flex-grow: 0;
            cursor: pointer;
            span {
              margin-bottom: 22px;
              margin-right: 15px;
              color: rgb(70, 64, 222);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: center;
              transition: color 0.3s ease;
            }
            img {
              margin-top: 5px;
              transition: filter 0.3s ease;
            }
            &:hover {
              span {
                color: rgb(38, 164, 255);
              }
              img {
                filter: brightness(0) saturate(100%) invert(42%) sepia(73%)
                  saturate(750%) hue-rotate(176deg) brightness(103%)
                  contrast(101%);
              }
            }
          }
        }
        .latest-card {
          z-index: 1;
          overflow: hidden;
          .latest-frame {
            position: relative;
            width: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 32px;
            padding: 24px;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 48px 0px;

            .latest-card {
              width: calc(50% - 16px);
              position: relative;
              height: 153px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 24;
              padding: 24px 40px 24px 40px;
              flex: none;
              order: 0;
              align-self: stretch;
              flex-grow: 0;
              background: rgb(255, 255, 255);
              border-radius: 20px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
              transition: all 0.3s ease;
              overflow: hidden;
              &:hover {
                transform: scale(1.05);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
              }
              .latest-box {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .box-title {
                  position: relative;
                  width: auto;
                  height: auto;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 8;
                  padding: 0px;
                  flex: none;
                  order: 1;
                  flex-grow: 0;
                  margin: 0px 24px;
                  .p-type {
                    position: relative;
                    width: auto;
                    height: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 8;
                    padding: 0px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin: 8px 0px;
                    color: rgb(37, 50, 75);
                    font-family: $font-body;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-align: left;
                  }
                  .title-location {
                    position: relative;
                    width: auto;
                    height: 26px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding: 0px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    color: rgb(81, 91, 111);
                    font-family: $font-body;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0%;
                    text-align: left;
                  }
                }
              }
              .bot-buttons {
                position: relative;
                width: 268px;
                height: 34px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8;
                padding: 0px;
                flex: none;
                order: 2;
                flex-grow: 0;
                margin: 8px 82px;
                .button1 {
                  position: relative;
                  width: auto;
                  height: 34px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8;
                  padding: 6px 10px 6px 10px;
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                  margin: 0px 8px;
                  border-radius: 80px;
                  background: rgba(86, 205, 173, 0.1);
                  color: rgb(86, 205, 173);
                  font-family: $font-body;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                  &:hover {
                    color: white;
                    background: green;
                  }
                }
                .line {
                  position: relative;
                  width: 1px;
                  height: auto;
                  flex: none;
                  order: 1;
                  align-self: stretch;
                  flex-grow: 0;
                  margin: 0px 8px;
                  background: rgb(214, 221, 235);
                }
                .button2 {
                  position: relative;
                  width: auto;
                  height: 34px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8;
                  padding: 6px 10px 6px 10px;
                  flex: none;
                  order: 2;
                  flex-grow: 0;
                  margin: 0px 8px;
                  box-sizing: border-box;
                  border: 1px solid rgb(255, 184, 54);
                  border-radius: 80px;
                  color: rgb(255, 184, 54);
                  font-family: $font-body;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                }
                .button3 {
                  position: relative;
                  width: auto;
                  height: 34px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8;
                  padding: 6px 10px 6px 10px;
                  flex: none;
                  order: 3;
                  flex-grow: 0;
                  margin: 0px 8px;
                  box-sizing: border-box;
                  border: 1px solid rgb(70, 64, 222);
                  border-radius: 80px;
                  color: rgb(70, 64, 222);
                  font-family: $font-body;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 160%;
                  letter-spacing: 0%;
                  text-align: left;
                }
              }
            }
          }
          .rec1 {
            position: absolute;
            width: 192.2px;
            height: 416.47px;
            left: 480.75px;
            top: -298.25px;
            transform: rotate(64deg);
            box-sizing: border-box;
            border: 4px solid rgb(204, 204, 245);
            background: rgb(248, 248, 253);
            opacity: 0.6;
            z-index: -1;
          }
          .rec2 {
            position: absolute;
            width: 319.78px;
            height: 350.51px;
            left: -550.77px;
            top: 50px;
            transform: rotate(330deg);
            box-sizing: border-box;
            border: 4px solid rgb(204, 204, 245);
            background: rgb(248, 248, 253);
            z-index: -1;
            opacity: 0.6;
          }
          .rec3 {
            position: absolute;
            width: 283.38px;
            height: 325.25px;
            left: 1400.77px;
            top: 800px;
            transform: rotate(64deg);
            box-sizing: border-box;
            border: 4px solid rgb(204, 204, 245);
            background: rgb(248, 248, 253);
            z-index: -1;
            opacity: 0.6;
          }
          .rec4 {
            position: absolute;
            width: 192.2px;
            height: 416.47px;
            left: 1500.75px;
            top: -80.75px;
            transform: rotate(64deg);
            box-sizing: border-box;
            border: 4px solid rgb(204, 204, 245);
            opacity: 0.6;
            z-index: -1;
          }
          .rec5 {
            position: absolute;
            width: 328.32px;
            height: 400.2px;
            left: -300.92px;
            top: 900.56px;
            transform: rotate(240deg);
            box-sizing: border-box;
            border: 4px solid rgb(204, 204, 245);
            opacity: 0.7;
            z-index: -1;
          }
        }
        .pagination {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
    .community-board {
      position: relative;
      padding: 124px 0px 61px;
      width: 100%;
      height: 950px;
      display: flex;
      order: 4;
      flex-direction: row;
      .container {
        flex-direction: column;
        align-items: center;
        .community-title {
          position: relative;
          width: 100%;
          height: 53px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 0px;
          .board-txt {
            margin-left: 10px;
            color: rgb(38, 164, 255);
          }
          span {
            position: relative;
            width: auto;
            height: 53px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 10;
            padding: 0px;
            flex: none;
            order: 0;
            flex-grow: 0;
            font-family: $font-heading;
            font-size: 48px;
            font-weight: 600;
            line-height: 110%;
            letter-spacing: 0%;
            text-align: left;
          }
        }
        /* trending-slider.scss */

        .wrapper {
          width: 100%;
          margin: 0 auto;
          max-width: 80rem;
          .cols {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
          }

          .col {
            width: 250px;
            margin: 1rem;
            cursor: pointer;
          }

          .container1 {
            transform-style: preserve-3d;
            perspective: 1000px;
            position: relative;
          }

          .front,
          .back {
            background-size: cover;
            background-position: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
            backface-visibility: hidden;
            text-align: center;
            min-height: 280px;
            height: auto;
            color: #fff;
            font-size: 1.5rem;
            position: relative;
          }

          .back {
            background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }

          .front::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.6;
            border-radius: 10px;
            z-index: 1;
          }

          .inner {
            transform: translateY(-50%) translateZ(60px) scale(0.94);
            top: 50%;
            left: 0;
            width: 100%;
            padding: 2rem;
            box-sizing: border-box;
            position: absolute;
            perspective: inherit;
            z-index: 2;
          }

          .container1 .back {
            transform: rotateY(180deg);
            transform-style: preserve-3d;
          }

          .container1 .front {
            transform: rotateY(0deg);
            transform-style: preserve-3d;
          }

          .container1:hover .back {
            transform: rotateY(0deg);
            transform-style: preserve-3d;
          }

          .container1:hover .front {
            transform: rotateY(-180deg);
            transform-style: preserve-3d;
          }

          .front .inner p {
            font-size: 2rem;
            margin-bottom: 2rem;
            position: relative;
          }

          .front .inner p::after {
            content: "";
            width: 4rem;
            height: 2px;
            background: #c6d4df;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -0.75rem;
          }

          .front .inner span {
            color: rgba(255, 255, 255, 0.7);
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
          }

          @media screen and (max-width: 64rem) {
            .col {
              width: calc(33.333% - 2rem);
            }
          }

          @media screen and (max-width: 48rem) {
            .col {
              width: calc(50% - 2rem);
            }
          }

          @media screen and (max-width: 32rem) {
            .col {
              width: 100%;
              margin: 0 0 2rem 0;
            }
          }
        }

        .pagination {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 53px;
        }
      }
    }
    .review {
      position: relative;
      width: 100%;
      height: 652px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;
      background: rgb(241, 242, 244);
      order: 5;
      .container {
        .review-title {
          width: 1320px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 50px 0;
          span {
            color: rgb(25, 31, 51);
            font-family: $font-heading;
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            text-align: center;
            .review-txt {
              margin-left: 10px;
              color: rgb(38, 164, 255);
            }
          }
        }
        .review-card-box {
          width: 100%;
          margin: 50px 0;
          .empty-list {
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .popular-review-swiper {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            .review-cards-slide {
              display: flex;
              justify-content: center;
              .review-box {
                width: 424px;
                height: 294px;
                border-radius: 12px;
                box-shadow: 0px 12px 80px rgba(0, 44, 109, 0.05);
                background: #fff;

                .review-info {
                  position: relative;
                  width: auto;
                  height: 116px;
                  left: 24px;
                  top: 24px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 16;
                  padding: 0px;
                  .title-review {
                    position: relative;
                    width: 204px;
                    height: 72px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 16;
                    padding: 0px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    margin: 16px 0px;
                    color: rgb(70, 77, 97);
                    font-family: $font-heading;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                  }
                }
                .avatar {
                  position: relative;
                  width: auto;
                  height: auto;
                  left: 24px;
                  top: 114px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 0px;
                  .name {
                    position: relative;
                    width: auto;
                    height: 48px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 4;
                    padding: 0px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    margin: 0px 12px;
                    .user-name {
                      color: rgb(25, 31, 51);
                      font-family: $font-heading;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 24px;
                      letter-spacing: 0%;
                      text-align: center;
                    }
                    .user-title {
                      color: rgb(118, 126, 148);
                      font-family: $font-heading;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 20px;
                      letter-spacing: 0%;
                      text-align: left;
                    }
                    img {
                      position: absolute;
                      width: 36px;
                      height: 36px;
                      left: 157px;
                      top: 6px;
                    }
                  }
                }
              }
            }
          }
          .pagination-box {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .swiper-review-prev,
            .swiper-review-next {
              cursor: pointer;
            }
            .swiper-review-pagination {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
