.post-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  .imageWrapper {
    position: relative;
    height: 240px;
    overflow: hidden;
    .cardImage {
      width: 100%;
      height: 88%;
      object-fit: cover;
    }
    .dateBox {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background-color: white;
      border-radius: 12px;
      padding: 4px 8px;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
      .month {
        font-size: 12px;
        color: #666;
      }
      .day {
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-top: -2px;
      }
    }
  }
  .cardContent {
    padding: 16px;
    .title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 4px;
    }
    .category {
      width: 285px;
      // height: 56px;
      font-size: 14px;
      color: #777;
      margin-bottom: 12px;
    }
    .view-like {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      order: 3;
      margin-left: 140px;
      margin-top: 20px;
      .statItem {
        width: auto;
        height: 29px;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px 10px;
        border: 1px solid #dedede;
        border-radius: 24px;
        color: #ccc;
        background: rgba(255, 255, 255, 0.05);
        font-size: 14px;
        p {
          color: #181a20;
          text-align: right;
          font-family: $font-heading;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.52px;
          text-transform: capitalize;
        }
        .icon {
          font-size: 20px;
          transition: all 0.3s ease;
          cursor: pointer;
          color: #616161;
          &:hover {
            border-color: #888;
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
      .statItem1 {
        width: auto;
        height: 29px;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 4px 10px;
        border: 1px solid #dedede;
        border-radius: 24px;
        color: #ccc;
        background: rgba(255, 255, 255, 0.05);
        font-size: 14px;
        p {
          color: #181a20;
          text-align: right;
          font-family: $font-heading;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.52px;
          text-transform: capitalize;
        }
        .icon {
          font-size: 20px;
          transition: all 0.3s ease;
          color: #616161;
          &:hover {
            border-color: #888;
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

.recently-card {
  margin-top: 5px;
  width: calc(50% - 16px);
  position: relative;
  height: 153px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  padding: 24px 40px 24px 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  overflow: hidden;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .latest-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .box-title {
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8;
      padding: 0px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 0px 24px;
      .p-type {
        position: relative;
        width: auto;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8;
        padding: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 8px 0px;
        color: rgb(37, 50, 75);
        font-family: $font-body;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
      }
      .title-location {
        position: relative;
        width: auto;
        height: 26px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
        color: rgb(81, 91, 111);
        font-family: $font-body;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }
  .bot-buttons {
    position: relative;
    width: 268px;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 17px 0px;
    .button1 {
      position: relative;
      width: auto;
      height: 34px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8;
      padding: 6px 10px 6px 10px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0px 8px;
      border-radius: 80px;
      background: rgba(86, 205, 173, 0.1);
      color: rgb(86, 205, 173);
      font-family: $font-body;
      font-size: 14px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 0%;
      text-align: left;
      &:hover {
        color: white;
        background: green;
      }
    }
    .line {
      position: relative;
      width: 1px;
      height: auto;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin: 0px 8px;
      background: rgb(214, 221, 235);
    }
    .button2 {
      position: relative;
      width: auto;
      height: 34px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8;
      padding: 6px 10px 6px 10px;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 0px 8px;
      box-sizing: border-box;
      border: 1px solid rgb(255, 184, 54);
      border-radius: 80px;
      color: rgb(255, 184, 54);
      font-family: $font-body;
      font-size: 14px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 0%;
      text-align: left;
    }
    .button3 {
      position: relative;
      width: auto;
      height: 34px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8;
      padding: 6px 10px 6px 10px;
      flex: none;
      order: 3;
      flex-grow: 0;
      margin: 0px 8px;
      box-sizing: border-box;
      border: 1px solid rgb(70, 64, 222);
      border-radius: 80px;
      color: rgb(70, 64, 222);
      font-family: $font-body;
      font-size: 14px;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}

.google-button {
  position: relative;
  width: 408px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 12px 16px 12px 16px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 245);
  color: rgb(70, 64, 222);
  font-family: $font-body;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.filter {
  .find-your-home {
    position: relative;
    width: 100%;
    height: 63px;
    gap: 10px;
    .property-location {
      gap: 10px;
      height: 115px;
      overflow: hidden;
      transition: 1s;
      &:hover {
        height: 253px;
      }
    }
    .title-main {
      width: 100%;
      height: 25px;
      color: #181a20;
      font-family: $font-heading;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .title {
      width: auto;
      height: auto;
      color: #181a20;
      font-family: $font-heading;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .input-box {
      position: relative;
      width: 100%;
      flex-direction: row;
      align-items: center;
      svg {
        cursor: pointer;
      }
      .search-input {
        width: 100%;
        height: 53px;
        border-radius: 8px;
        outline: none;
        padding-left: 43px;
        color: #717171;
        font-family: $font-heading;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
      img {
        position: absolute;
        width: 18px;
        height: 17px;
        top: 18px;
        left: 15px;
      }
      .property-checkbox {
        width: 16px;
        height: 15px;
        border-radius: 12px;
        margin-right: 10px;
        svg {
          width: 19px;
        }
      }
    }
    .city-select {
      width: 100%;
      height: 49px;
      border-radius: 8px;
      border: 1px solid #ddd;
      background: #fff;
      outline: none;
      padding-left: 15px;
      appearance: none;
      cursor: pointer;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      color: #717171;
      font-family: $font-heading;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
    .divider {
      position: absolute;
      height: 48px;
      border-left: 1px solid #ddd;
      right: 39px;
      top: 31px;
    }
    .arrow-down {
      position: absolute;
      width: 15px;
      height: 8px;
      color: #ddd;
      right: 13px;
      top: 52px;
    }
    .property-type {
      color: #181a20;
      font-family: $font-heading;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
    }
    .button-group {
      width: 100%;
      height: 43.998px;
      flex-direction: row;
      button {
        width: 100%;
        color: #181a20;
        text-align: center;
        font-family: $font-heading;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .square-year-input {
      width: 100%;
      gap: 10px;
      flex-direction: row;
      align-items: center;
      .central-divider {
        width: 22px;
        border: 1px solid black;
      }
      input {
        width: 100%;
        height: 49px;
        border-radius: 8px;
        border: 1px solid #ddd;
        background: #fff;
        outline: none;
        padding-left: 15px;
      }
      label {
        line-height: 13px;
      }
      input::placeholder {
        color: #717171;
        font-family: $font-heading;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }
}
