/** IMPORTS **/
@import "/scss/variables.scss";

#pc-wrap {
  #top {
    .navbar {
      .navbar-main {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        height: 80px; // yoki 72px
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        background: #090909c4;
        &.scrolled {
          z-index: 0.2;
        }
        .container {
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .logo-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            height: 36px;
            .logo {
              display: flex;
              flex-direction: row;
              align-items: center;
              text-decoration: none;
              img {
                height: 36px;
                margin-right: 8px;
              }
              p {
                font-family: $font-body;
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                margin: 0;
              }
            }
          }
          .router-box {
            margin-left: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;

            div {
              color: rgb(81, 91, 111);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 500;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
              color: #fff;
              &:hover {
                color: #007aff;
              }
            }
          }
        }
        .user-box {
          display: flex;
          align-items: center;
          gap: 24px;
          margin-left: 60px;
          .user-avatar {
            cursor: pointer;
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .auth-box {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            background-image: url("/img/banner/login.avif");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 30px;
            padding: 6px 16px;
            border: 1px solid #ccc;
            .auth-link {
              color: #ffffff;
              font-weight: 600;
              text-decoration: none;
              font-size: 14px;
              &:hover {
                color: #007aff;
              }
            }
            .divider {
              margin: 0 8px;
              color: #999;
            }
          }
          .lang-box {
            display: flex;
            align-items: center;
            .notification-icon {
              color: #fff;
            }
            .lang-btn {
              background-color: transparent;
              padding: 6px 10px;
              min-width: unset;
              img {
                width: 24px;
                height: 17px;
                border-radius: 2px;
                margin-right: 4px;
              }
            }
            .flag-icon {
              width: 24px;
              height: 17px;
              border-radius: 2px;
              margin-right: 10px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .header-main {
    position: relative;
    width: auto;
    height: 794px;
    background-image: url("/img/banner/banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container {
      position: relative;
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      .search-box {
        position: relative;
        margin-top: 615px;
        padding: 16px 29px;
        width: 1094px;
        height: 96px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 2.71px 4.4px 0px rgba(192, 192, 192, 0.03),
          0px 6.86px 11.12px 0px rgba(192, 192, 192, 0.04),
          0px 14px 22.68px 0px rgba(192, 192, 192, 0.05),
          0px 28.84px 46.72px 0px rgba(192, 192, 192, 0.06),
          0px 79px 128px 0px rgba(192, 192, 192, 0.09);
        background: #e0e0e0;
        border-radius: 12px;
        .select-box {
          width: 712px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .box {
            padding: 24px 22px;
            width: 213px;
            margin-left: 20px;
            height: 56px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.575);
            box-sizing: border-box;
            cursor: pointer;
            &.on {
              background: #ffffff;
              border: 1px solid #000;
              color: #181a20;
            }
            .span {
              color: #181a20;
              font-family: $font-body;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
            }
          }
        }
        .search-box-other {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 92px;
          .advanced-filter {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              margin-right: 10px;
              width: 25px;
              height: 22px;
              cursor: pointer;
            }
            span {
              color: #000000;
              font-family: $font-body;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              cursor: pointer;
            }
          }
          .search-btn {
            margin-left: 12px;
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 55px;
            background: #f17742;
            cursor: pointer;
            img {
              width: 20px;
              height: 20px;
              color: #ffffff;
            }
          }
        }
        .filter-location {
          position: absolute;
          padding: 40px 60px;
          width: 1094px;
          min-height: 120px;
          height: auto;
          top: 96px;
          right: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 40px;
          visibility: hidden;
          border-radius: 12px;
          background: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-sizing: border-box;
          z-index: 2;
          &.on {
            visibility: visible;
            transition: 0.2s ease-out;
            background: #fffdfd;
          }
          div {
            width: 295px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              width: 122px;
              height: 85px;
              border-radius: 15px;
              cursor: pointer;
            }
            span {
              margin-left: 22px;
              color: #181a20;
              font-family: $font-body;
              font-size: 20px;
              font-style: 20px;
              font-weight: 400px;
              line-height: 26px;
              cursor: pointer;
              text-transform: capitalize;
            }
            label {
              line-height: 13px;
            }
          }
        }
        .filter-type {
          position: absolute;
          padding: 50px;
          width: 1094px;
          min-height: 120px;
          height: auto;
          top: 96px;
          right: 0px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          visibility: hidden;
          border-radius: 12px;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-sizing: border-box;
          z-index: 1;
          &.on {
            visibility: visible;
            transition: 0.2 ease-out;
            background: #fffdfd;
          }
          div {
            position: relative;
            width: 272px;
            height: 168px;
            border-radius: 15px;
            cursor: pointer;
            background-size: cover;
            span {
              position: absolute;
              top: 13px;
              right: 12px;
              padding: 1px 5px 5px 5px;
              border-radius: 2px 2px 0px 0px;
              font-family: $font-body;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 26px;
              background: linear-gradient(
                180deg,
                #fff 0%,
                rgba(255, 255, 255, 0) 100%
              );
            }
          }
        }
        .filter-rooms {
          position: relative;
          padding: 10px 92px;
          width: 1094px;
          min-height: 120px;
          height: auto;
          top: 96px;
          right: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          visibility: hidden;
          border-radius: 12px;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-sizing: border-box;
          z-index: 1;
          &.on {
            visibility: visible;
            transition: 0.2s ease-out;
            background: #fffdfd;
          }
          span {
            display: flex;
            align-items: center;
            padding: 10px 30px;
            border: 1px solid #fffdfd;
            color: #181a20;
            font-family: $font-body;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            cursor: pointer;
            &:hover {
              border-radius: 5px;
              border: 1px solid #b9b9b9;
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
          }
        }
      }
    }
  }
  .header-basic {
    position: static;
    width: auto;
    height: 514px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    background-image: url("/img/banner/hand2.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container {
      position: relative;
      height: 306px;
      top: 143px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 40;
      padding: 0px;
      .header-frame {
        .header-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .txt {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .find {
              color: #fff;
              font-family: $font-heading;
              font-size: 48px;
              font-weight: 600;
              line-height: 110%;
              letter-spacing: 0%;
              text-align: center;
            }
            .provider {
              margin-left: 20px;
              color: rgb(38, 164, 255);
              font-family: $font-heading;
              font-size: 48px;
              font-weight: 600;
              line-height: 110%;
              letter-spacing: 0%;
              text-align: center;
              color: rgb(38, 164, 255);
            }
          }
          .bot-txt {
            position: relative;
            width: auto;
            height: 29px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24;
            padding: 0px;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 24px 0px;
            color: #fff;
            font-family: $font-body;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: center;
          }
        }
        .header-basic-search {
          margin-top: 40px;
          position: relative;
          width: auto;
          height: 146px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16;
          padding: 0px;
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 40px 0px;
          .search-bar-wrapper {
            width: 1192px;
            height: 104px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px;
            gap: 16px;
            border-radius: 16px;
            box-shadow: 0px 2.71px 4.62px rgba(192, 192, 192, 0.05),
              0px 6.78px 11.56px rgba(192, 192, 192, 0.08),
              0px 16.36px 27.9px rgba(192, 192, 192, 0.1);
            .input-wrapper {
              flex: 1;
              position: relative;
            }
            .input-icon {
              position: absolute;
              top: 50%;
              left: 12px;
              transform: translateY(-50%);
              color: #999;
              font-size: 23px;
            }
          }
          .search-input {
            flex: 1;
            width: 490px;
            height: 56px;
            padding: 0 20px 0 44px;
            border: none;
            border-radius: 12px;
            background-color: #f0f0f0;
            font-size: 16px;
            outline: none;
          }
          .search-button {
            height: 56px;
            padding: 0 32px;
            background-color: #4f46e5; /* Indigo */
            color: white;
            font-weight: 600;
            font-size: 16px;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            transition: background-color 0.2s ease;
          }
          .search-button:hover {
            background-color: #4338ca;
          }
        }
      }
    }
  }
  .header-other {
    position: static;
    width: auto;
    height: 514px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    background: rgba(222, 222, 241, 0.718);
    .header-other-frame {
      .container {
        .router {
          font-family: $font-body;
          font-size: 25px;
          font-weight: 400;
          line-height: 160%;
          letter-spacing: 0%;
          text-align: left;
          opacity: 0.80;
        }
        position: relative;
        justify-content: center;
        .job-apply-frame {
          position: relative;
          width: 1187px;
          height: 139.24px;
          left: 123.67px;
          top: 210px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          padding: 24px;
          box-sizing: border-box;
          border: 1px solid rgb(214, 221, 235);
          background: rgb(255, 255, 255);
          .job.svg {
            position: relative;
            width: 80px;
            height: 82.94px;
            left: 4px;
            top: 4.15px;
          }
          .job-title {
            position: relative;
            width: auto;
            height: 78px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8;
            padding: 0px;
            flex: none;
            order: 1;
            flex-grow: 0;
            .sc-txt {
              position: relative;
              width: 351px;
              height: 38px;
              gap: 8;
              padding: 0px;
              order: 0;
              flex-grow: 0;
              margin: 8px 0px;
              color: rgb(37, 50, 75);
              font-family: $font-heading;
              font-size: 32px;
              font-weight: 600;
              line-height: 120%;
              letter-spacing: 0%;
              text-align: left;
            }
            .location-txt {
              position: relative;
              white-space: nowrap;
              display: flex;
              width: 60px;
              height: 32px;
              gap: 8;
              padding: 0px;
              order: 0;
              flex-grow: 0;
              color: rgb(81, 91, 111);
              font-family: $font-body;
              font-size: 20px;
              font-weight: 400;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
          }
          .icon-button {
            position: relative;
            width: 256px;
            height: 58.06px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30;
            padding: 0px;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin-left: 36%;
            .share-icon {
              position: relative;
              width: 41px;
              height: 36.29px;
              left: 19px;
              top: 0.74px;
            }
            div {
              position: static;
              width: 58.06px;
              height: 0;
              flex: none;
              order: 1;
              flex-grow: 0;
              margin: 0px 9px;
              transform: rotate(90deg);
              border: 1px solid rgb(214, 221, 235);
            }
            .aplly-button {
              position: relative;
              width: 164px;
              height: 57px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10;
              padding: 14px 56px 14px 56px;
              flex: none;
              order: 2;
              flex-grow: 0;
              background: rgb(70, 64, 222);
              color: rgb(255, 255, 255);
              font-family: $font-body;
              font-size: 18px;
              font-weight: 700;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: center;
            }
          }
        }
      }
    }
  }
  #footer {
    .footer-main {
      .footer-frame {
        position: relative;
        width: auto;
        height: 497px;
        flex: none;
        order: 6;
        flex-grow: 0;
        margin: 0px 0px;
        background: rgb(32, 36, 48);
        .container {
          margin-top: 64px;
          flex-direction: row;
          //   justify-content: space-around;
          .app-name {
            display: flex;
            flex-direction: column;
            .skill-logo {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            p {
              width: 120px;
              height: 36px;
              margin-left: 7px;
              color: rgb(255, 255, 255);
              font-family: $font-heading;
              font-size: 24px;
              font-weight: 700;
              line-height: 150%;
              letter-spacing: -1%;
              text-align: left;
            }
            .title {
              position: relative;
              width: 376px;
              height: 78px;
              margin-top: 40px;

              color: rgb(214, 221, 235);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 400;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
          }
          .about {
            margin-left: 88px;
            display: flex;
            flex-direction: column;
            .about-txt {
              position: relative;
              width: 55px;
              height: 29px;
              color: rgb(255, 255, 255);
              font-family: $font-body;
              font-size: 18px;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
            .text {
              margin-top: 17px;
              position: static;
              width: auto;
              height: 26px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 0px;
              flex: none;
              order: 0;
              flex-grow: 0;
              color: rgb(214, 221, 235);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 400;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
          }
          .get-job {
            display: flex;
            flex-direction: column;
            margin-left: 71px;
            position: relative;
            width: auto;
            height: auto;
            .job-title {
              width: auto;
              height: 29px;
              color: rgb(255, 255, 255);
              font-family: $font-body;
              font-size: 18px;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
            .text {
              margin-top: 60px;
              position: absolute;
              width: 306px;
              height: 52px;
              color: rgb(214, 221, 235);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 400;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
            .subscribe-wrapper {
              margin-top: 120px;
              width: fit-content;
              height: 45px;
              border-radius: 20px;
              padding: 5px;
              display: flex;
              align-items: center;
              background-color: #fff;
            }
            .subscribe-icon {
              width: 30px;
              fill: rgb(0, 0, 0);
              color: rgb(0, 0, 0);
              margin-left: 8px;
              transition: all 0.3s;
            }
            .subscribe-input {
              max-width: 170px;
              height: 100%;
              border: none;
              outline: none;
              padding-left: 15px;
              background-color: transparent;
              color: rgb(0, 0, 0);
              font-size: 1em;
              &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
                -webkit-text-fill-color: #000000;
              }
            }
            .subscribe-btn {
              height: 100%;
              width: 95px;
              border: none;
              border-radius: 15px;
              background-color: rgb(221, 219, 219);
              color: black;
              font-weight: 500;
              cursor: pointer;
              position: relative;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.3s;
              &:hover {
                color: white;
                background-color: #444;
                .subscribe-arrow {
                  margin-right: 0;
                  animation: jello-vertical 0.9s both;
                  transform-origin: right;
                }
              }
              &:active {
                transform: scale(0.9);
              }
            }
            .subscribe-arrow {
              position: absolute;
              margin-right: 150px;
              transition: all 0.3s;
              fill: currentColor;
            }
            .subscribe-wrapper:active .subscribe-icon {
              transform: scale(1.3);
            }
            @keyframes jello-vertical {
              0% {
                transform: scale3d(1, 1, 1);
              }
              30% {
                transform: scale3d(0.75, 1.25, 1);
              }
              40% {
                transform: scale3d(1.25, 0.75, 1);
              }
              50% {
                transform: scale3d(0.85, 1.15, 1);
              }
              65% {
                transform: scale3d(1.05, 0.95, 1);
              }
              75% {
                transform: scale3d(0.95, 1.05, 1);
              }
              100% {
                transform: scale3d(1, 1, 1);
              }
            }
          }
        }

        .container {
          .bot-line {
            position: relative;
            width: 1300px;
            height: 0;
            border: 2px solid rgb(255, 255, 255);
            opacity: 0.1;
          }
          .bot {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            span {
              margin-top: 43px;
              position: relative;
              width: auto;
              height: 26px;
              color: rgb(255, 255, 255);
              font-family: $font-body;
              font-size: 16px;
              font-weight: 500;
              line-height: 160%;
              letter-spacing: 0%;
              text-align: left;
            }
            .icons {
              margin-top: 43px;
              position: relative;
              width: 256px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}
